@import "normalize.css";
@font-face {
  font-family: "Archangelsk";
  src: url("../font/Archangelsk Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.ttf") format("opentype");
}
*{
  box-sizing: border-box;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.container{
  max-width: 1280px;
  margin: 0 auto;
}
.info{
  background-image: url("../img/InfoBG.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.logo {
  background-image: url("../img/logo.svg"); /* Путь к файлу */
  width: 296px;
  height: 74px;
  background-size: contain;
  background-repeat: no-repeat;
}
.media-group{
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
.media-youtube{
  background-image: url("../img/youtube.svg");
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}
.media-vk{
 background-image: url("../img/vk.svg");
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}
.media-twitter{
 background-image: url("../img/twitter.svg");
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}
.media-fb{
  background-image: url("../img/fb.svg");
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}
.media-instagram{
  background-image: url("../img/instagram.svg");
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}
.media-twitch{
  background-image: url("../img/twitch.svg");
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}
.info-more{
  background-color: #F8F200;
  width: 624px;
  height: 369px;
  clip-path: polygon(8% 0, 100% 0, 100% 86%, 92% 100%, 0 100%, 0 14%);
  margin-top: 528px;
  margin-left: auto;
  padding: 70px;
}
.info-more-content{
  font-family: "Archangelsk";
  line-height: 63px;
  margin: 0 0 25px;
  font-size: 62px;
}
.info-more-button{
  font-family: "Roboto";
  background-color: black;
  font-size: 24px;
  color: #F8F200;
  width: 272px;
  height: 78px;
  cursor: pointer;

}
